body {
  font-family: 'Arial', sans-serif;
  background-color: #E59D2A;
  background-size: cover;
}

.login-form {
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

h2 {
  color: #333;
}

.btn-primary {
  background-color: #E59D2A;
  border: none;
}

.btn-primary:hover {
  background-color: #AE7B3D;
}

p {
  color: #666;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding-bottom: 10%;
}


